
@media screen and (max-width: 419px){
    .container .hero {
        width: 320px;
    }

    .navigation{
        justify-content: space-between;
        width: 320px;
        padding: 10px 10px 0 10px;
    }

    .header-nav {
        display: none;
    }
    .address-contacts {
        display: none;
    }
    
    /* Hero section */
    .slider-container{
        display: none;
    }

    .hero-mobile{
        width: 320px;
        height: 400px;
    }
   
    .mobile-content {
        width: 300px;
    }

    .hero-mobile-title {
        font-size: 18px;
    }
    .hero-mobile-desc {
        font-size: 14px;
    }
    .hero-mobile-type {
        font-size: 12px;
    }
}
@media screen and (min-width: 420px) and (max-width: 767px) {
    .container.hero {
        max-width: 380px;
    }
    .navigation{
        justify-content: space-between;
        max-width: 380px;
        padding: 10px 10px 0 10px;
    }

    .header-nav.none {
        display: none;
    }
    .address-contacts.none {
        display: none;
    }

    /* Hero section */
    .slider-container{
        display: none;
    }

    .hero-mobile{
        height: 400px;
    }
   
    .mobile-content {
        width: 400px;
    }
   
}