@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container{
        max-width: 768px;
        padding: 20px 20px 0 20px;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Header */

    .logo-link{
       font-size: 40px;
    }

    .header-nav{
        padding: 0;
        margin: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .header-list{
       margin-left: 20px;
    }

    .header-list:first-child{
        margin-left: 40px;
    }

    .header-link{
        text-decoration: none;
        font-family: 'Cormorant Garamond';
       font-size: 20px;
       color: antiquewhite;
    }

    .contacts{
        margin: 0;
    }

    .contacts-list{
        display: flex;
        list-style: none;
        align-items: center;
        margin-bottom: 5px;
    }

    .contacts-link{
        text-decoration: none;
        font-family: 'Cormorant Garamond';
       font-size: 20px;
       color: antiquewhite;
    }

    /* Hero slider */
    .slider-container{
       margin-top: 20px;
        width: 700px;
        height: 500px;
        box-shadow: 0 20px 20px #dbdbdb;
        }
        #slide{
            margin-top: 30px;
        }

            .item-slide:nth-child(3){
                left: 50%;
            }
            
            .item-slide:nth-child(4){
                left: calc(50% + 220px);
            }
            
            .item-slide:nth-child(5){
                left: calc(50% + 440px);
                opacity: 0;
            }

            .item-slide .content{
                width: 250px;
            }
            
            .content-title{
                font-size: 24px;
            }
            
            .content-desc{
                font-size: 18px;
            }

            #type-prev{
                width: 40px;
                height: 40px;
            }
            
            #type-next{
                width: 40px;
                height: 40px;
            }
            
            

        .burder-type {
            display: none;
        }
    
        .backdrop {
           display: none;
        }

    /* Hero mobile */
    .hero-mobile{
        display: none;
    }
}