body {
  font-family: "Cormorant Garamond", "Pathway Gothic One", sans-serif;
  font-style: normal;
  background-color: #111;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* :root{

} */

.container {
  max-width: 1400px;
  height: 100%;
  padding: 20px 20px 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
}

.logo-link {
  text-decoration: none;
  font-family: "Cormorant Garamond";
  font-size: 30px;
  color: rgb(235, 105, 12);
}

.web-logo {
  color: rgb(8, 236, 236);
}

.burder-type {
  border: none;
  background-color: inherit;
  fill: rgb(225, 216, 209);
}

/* Modal start */
.backdrop {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.mobile-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(208, 205, 201);
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.menu-close {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.14);
  display: flex;
  margin-left: auto;
  padding: 7px;
  margin-top: 10px;
  margin-right: 10px;
  fill: #2b1c50;
}

.mobile-navigation {
  width: 300px;
  padding: 0 20px 0;
  margin-top: 40px;
}

.header-nav-mobile {
  margin: 0;
  padding: 0;
}

.header-list-mobile-menu {
  list-style: none;
}

.header-link-mobile-menu {
  text-decoration: none;
  font-family: "Cormorant Garamond";
  font-weight: bold;
  font-size: 30px;
  color: #690ad5;
}

.svg-mobile {
  fill: #1a0846;
}

.mobile-menu-contacts {
  width: 300px;
  padding: 0 20px 0;
  margin-top: 40px;
}

.contacts-mobile-menu {
  margin: 0;
  padding: 0;
}

.contacts-list-mobile-menu {
  list-style: none;
  cursor: pointer;
}

.contacts-link-mobile-menu {
  text-decoration: none;
  font-size: 20px;
  color: #690ad5;
}

/* Modal end */

/* Slider start */
.slider-container {
  position: relative;
  width: 700px;
  height: 600px;
  background-color: #c2c2d6;
  box-shadow: 0 30px 50px #dbdbdb;
  border-radius: 20px;
}
#slide {
  width: max-content;
  margin-top: 50px;
}
.item-slide {
  width: 200px;
  height: 300px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
}

.item-slide:nth-child(1),
.item-slide:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.item-slide:nth-child(3) {
  left: 40%;
}

.item-slide:nth-child(4) {
  left: calc(40% + 220px);
}

.item-slide:nth-child(5) {
  left: calc(40% + 440px);
}

.item-slide:nth-child(n + 6) {
  left: calc(40% + 660px);
  opacity: 0;
  display: none;
}

.item-slide .content {
  position: absolute;
  top: 50%;
  left: 50px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #f7f3f3;
  transform: translate(0, -50%);
  display: none;
  z-index: 2;
}

.item-slide:nth-child(2) .content {
  display: block;
  z-index: 111111;
}

.content-title {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 34px;
  margin: 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}

.content-desc {
  font-family: "Cormorant Garamond";
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  opacity: 0;
  animation: showcontent 1s ease-in-out 0.4s 1 forwards;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}

.slider-btn {
  position: absolute;
  bottom: 30px;
  z-index: 222222;
  text-align: center;
  width: 100%;
}

.slider-btn button i {
  font-size: 24px;
}

#type-prev {
  border: none;
  background-color: inherit;
  color: #cc0000;
  margin-right: 10px;
}

#type-next {
  border: none;
  background-color: inherit;
  color: #cc0000;
}
/* Slider end */

/* Hero mobile version */
.hero-mobile {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(https://www.remontbp.com/wp-content/uploads/2017/11/%D0%BD%D0%B0%D0%BB%D0%B8%D1%87%D0%B8%D0%B5-%D0%B1%D0%BE%D0%BB%D1%8C%D1%88%D0%B8%D1%85-%D0%BE%D0%BA%D0%BE%D0%BD-%D0%B7%D1%80%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE-%D1%83%D0%B2%D0%B5%D0%BB%D0%B8%D1%87%D0%B8%D0%B2%D0%B0%D0%B5%D1%82-%D0%BF%D1%80%D0%BE%D1%81%D1%82%D1%80%D0%B0%D0%BD%D1%81%D1%82%D0%B2%D0%BE.jpg);
}

.hero-mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.mobile-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 0 20px;
}
.hero-mobile-title {
  font-family: "Cormorant Garamond";
  font-weight: 600;
  font-size: 28px;
  color: antiquewhite;

  margin: 0;
}
.hero-mobile-desc {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  color: antiquewhite;
  margin: 20px 0 40px;
}
.hero-mobile-type {
  font-family: "Cormorant Garamond";
  font-size: 14px;
  color: rgb(37, 25, 9);

  padding: 10px 10px;
  border: none;
  border-radius: 30px;
  background-color: rgb(202, 193, 193);
  cursor: pointer;
}

.hero-mobile-type:hover,
.hero-mobile-type:focus {
  background-color: rgb(201, 28, 28);
  color: rgb(233, 228, 222);
}

/* Modal Hero  start */
.backdrop-hero {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden-hero {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.hero-mobile-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgb(208, 205, 201);
}
.hero-menu-close {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.14);
  display: flex;
  margin-left: auto;
  padding: 7px;
  margin-top: 10px;
  margin-right: 10px;
  fill: #2b1c50;
}

.hero-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.hero-label {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  color: rgb(88, 61, 29);
  margin-bottom: 10px;
}
.hero-input {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
}

.hero-input:hover {
  border: 2px solid #d8670b;
}

.hero-input.plus {
  margin-bottom: 30px;
}

.type-submit {
  font-family: "Cormorant Garamond";
  font-size: 16px;
  border-radius: 20px;
  max-width: 150px;
  padding: 7px;
  border: none;
  background-color: #d8670b;
  color: #f1e9e9;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275), 0.5s;
}

.type-submit:hover {
  background-color: #1f078b;
}
/* Hero Modal end */

/* About Company start  */
.about-company {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.about-company-title {
  font-family: "Cormorant Garamond";
  font-size: 28px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
}
.about-company-desc {
  font-family: "Cormorant Garamond";
  font-size: 18px;
  color: #efeff3;
  margin: 0;
  margin-top: 20px;
}

.advantages-title {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
}
.advantages-container {
  max-width: 300px;
}
.advantages-info {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.advantages-list {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  list-style: none;
  color: #c2c2d6;
}
.advantages-svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #c2c2d6;
}

.advantages-list-title {
  font-family: "Cormorant Garamond";
  font-size: 20px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin: 0;
}

.wrapper {
  height: 50px;
}

/* Gallery css start */
.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.gallery li {
  width: 200px;
}

.gallery a {
  display: block;
  width: 200px;
}

.gallery img {
  width: 200px;
  height: 300px;
}


