@media screen and (min-width: 768px) and (max-width: 1180px) {
  .container {
    max-width: 768px;
    padding: 20px 20px 0 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Header */

  .logo-link {
    font-size: 40px;
  }

  .header-nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .header-list {
    margin-left: 20px;
  }

  .header-list:first-child {
    margin-left: 40px;
  }

  .header-link {
    text-decoration: none;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    color: antiquewhite;
  }

  .contacts {
    margin: 0;
  }

  .contacts-list {
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 5px;
  }

  .contacts-link {
    text-decoration: none;
    font-family: "Cormorant Garamond";
    font-size: 20px;
    color: antiquewhite;
  }

  /* Hero slider */
  .slider-container {
    width: 700px;
    height: 500px;
    box-shadow: 0 20px 20px #dbdbdb;
  }
  #slide {
    margin-top: 30px;
  }

  .item-slide:nth-child(3) {
    left: 50%;
  }

  .item-slide:nth-child(4) {
    left: calc(50% + 220px);
  }

  .item-slide:nth-child(5) {
    left: calc(50% + 440px);
    opacity: 0;
  }

  .item-slide .content {
    width: 250px;
  }

  .content-title {
    font-size: 24px;
  }

  .content-desc {
    font-size: 18px;
  }

  .slider-btn button i {
    font-size: 24px;
  }

  #type-prev {
    width: 40px;
    height: 40px;
  }

  #type-next {
    width: 40px;
    height: 40px;
  }

  .burder-type {
    display: none;
  }

  .backdrop {
    display: none;
  }

  /* Hero mobile */
  .hero-mobile {
    display: none;
  }

  /* Hero modal and nav "Дізнатися ціну" start */
  .hero-mobile-menu {
    position: fixed;
    width: 450px;
    height: 300px;
    top: 23%;
    left: 32%;
    transform: translate(-23%, -32%);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgb(239, 239, 225);
    border-radius: 20px;
  }

  .hero-menu-close {
    border: none;
    background-color: rgba(251, 115, 4, 0.968);
    fill: #efecf5;
  }

  .hero-label {
    font-size: 22px;
    color: rgb(16, 12, 7);
    margin-left: 30px;
  }
  .hero-input {
    width: 90%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
  }

  .type-submit {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
    border: none;
    background-color: #d8670b;
    color: #f1e9e9;
  }

  /* About start */

  .about-company {
    padding: 0;
  }
  .about {
    display: inline-block;
  }

  .about-company-title {
    font-size: 35px;
  }

  .about-company-desc {
    font-size: 25px;
  }

  .advantages-container {
    max-width: unset;
  }

  .advantages-info {
    display: flex;
  }

  .advantages-title {
    font-size: 35px;
  }

  .advantages-svg {
    width: 50px;
    height: 50px;
    margin-right: unset;
    margin-bottom: 15px;
    fill: #c2c2d6;
  }

  .advantages-list-title {
    font-size: 20px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    margin-bottom: unset;
    margin-right: 20px;
  }

  .advantages-list:last-child {
    margin-right: 0;
  }
}
